osx_image: xcode8.3
dist: trusty
sudo: false
language: node_js
node_js: '8'
os:
- linux
- osx
notifications:
  email: false
addons:
  apt:
    packages:
    - rpm
    - libsecret-1-0
    - libsecret-1-dev
    - libgnome-keyring-dev
before_script: npm update
script:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then npm run release-linux; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then npm run release-osx; fi
before_deploy:
  - export version=$(cat package.json | grep '"version"' | cut -d '"' -f4)
  - export date=$(date +%Y-%m-%d)
  - cp packaging/debian/bintray-stable.json bintray-stable.json
  - cp packaging/debian/bintray-unstable.json bintray-unstable.json
  - sed -i s/'{version}'/$version/g bintray-stable.json
  - sed -i s/'{version}'/$version/g bintray-unstable.json
  - sed -i s/'{date}'/$date/g bintray-stable.json
  - sed -i s/'{date}'/$date/g bintray-unstable.json
deploy:
deploy:
  - provider: bintray
    file: bintray-stable.json
    user: raffis
    key:
      secure: BWv8xZaOQsptR6/CJdvAOD5e7NmEH3aJ83xWfSrxwK52NN7QmSNYBXhM4gMiRvUJXMYIcu6OJhlo3W86M2YOeHGtmH1biLwFp7NxIMEQUouuMBoezg5jU47M4ydk/ro44du/Krvk6jnXHkgHDsnCknPP5RD/Z+Dd2mgTL+iNbvfvklW3pd0y1q1CiZfyaEvRl8OXUyzERnS7NsayjcGOOi5Ea4VYR87tkmXBguV6XQI0CbN9RJ1VQuipYVYevZzMAO1iHDj66nEJYT0XXBOHPUYsYP/iO4bLvXkbUxXi/WU4dQbAkLFD3jYRl3UCpaUvTBoAPooD9Vh8FCq8rUrXfL0TfJ3+awvct7ltKY+E+FiDuiAdlsj+C0uL8n4Do5MNNqE+e22/XrV/Lfhpu7K65173/p6qkJyo1NanqWQJTmmUs1oSVtU+V1Ze6Ybr3BI4J6H/djGkYiIdfLVocBA24gZGmNsi66YTIJeGfN2O1rGOKk/BsxXhnnvDg6XDAH10/kXzNKakDVRGY0DMCiSUwxkozVre0o3wvkwZfWWh6JcomlxDqbCTVLNijIkkoo1GX394wojoe7s8h9HLVHVOD//bACdq9twNc9jvfJJEVk1icygzK6BQxIY81AU6/iKfxUpJ586HGkQjPs+E/Sq5xExo6bpSOa/Ik5u0K19h/P4=
    on:
      master: false
      tags: true
  - provider: bintray
    file: bintray-unstable.json
    user: raffis
    key:
      secure: BWv8xZaOQsptR6/CJdvAOD5e7NmEH3aJ83xWfSrxwK52NN7QmSNYBXhM4gMiRvUJXMYIcu6OJhlo3W86M2YOeHGtmH1biLwFp7NxIMEQUouuMBoezg5jU47M4ydk/ro44du/Krvk6jnXHkgHDsnCknPP5RD/Z+Dd2mgTL+iNbvfvklW3pd0y1q1CiZfyaEvRl8OXUyzERnS7NsayjcGOOi5Ea4VYR87tkmXBguV6XQI0CbN9RJ1VQuipYVYevZzMAO1iHDj66nEJYT0XXBOHPUYsYP/iO4bLvXkbUxXi/WU4dQbAkLFD3jYRl3UCpaUvTBoAPooD9Vh8FCq8rUrXfL0TfJ3+awvct7ltKY+E+FiDuiAdlsj+C0uL8n4Do5MNNqE+e22/XrV/Lfhpu7K65173/p6qkJyo1NanqWQJTmmUs1oSVtU+V1Ze6Ybr3BI4J6H/djGkYiIdfLVocBA24gZGmNsi66YTIJeGfN2O1rGOKk/BsxXhnnvDg6XDAH10/kXzNKakDVRGY0DMCiSUwxkozVre0o3wvkwZfWWh6JcomlxDqbCTVLNijIkkoo1GX394wojoe7s8h9HLVHVOD//bACdq9twNc9jvfJJEVk1icygzK6BQxIY81AU6/iKfxUpJ586HGkQjPs+E/Sq5xExo6bpSOa/Ik5u0K19h/P4=
    on:
      all_branches: true
before_cache:
- rm -rf $HOME/.cache/electron-builder/wine
