html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    cursor: default;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family:  Ubuntu, sans-serif;
    background-color: #fcfcfc;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 300;
}

h2 {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: #666;
    line-height: 25px;
}

.loader {
    background-image: url(../../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    display: none;
}

/*-----Header-----*/

#header {
    position: relative;
    height: 33px;
    background-color: #E0E0E0;
}

#tray #header {
    height: auto;
    padding: 0;
}

#header p {
    position: absolute;
    left: 12px;
    top: 4px;
}

#tray #header p {
    position: static;
}

/*-----Content-----*/
#content-wrapper {
    min-height: 0;
    padding: 0;
}

#content-wrapper {
    box-sizing: border-box;
    user-select: none;
}

.folder {
    width: 100%;
    background-color: #fff;
    height: 200px;
    margin-top: 15px;
}

/*---- Tab naviagtion ----*/
.tab-navigation {
    height: 36px;
    overflow-x: visible;
    z-index: 1;
    border-bottom: solid #EEF3F6 2px;
    background-color: #EEF3F6;
}

.tab-navigation li {
  float: left;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  box-sizing: border-box;
  background-color: transparent;
}

.tab-navigation .tab-navigation-active {
  height: 38px;
  border-bottom: solid 2px #9CD2FF;
}

.tab-navigation li a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*---- tab content ----*/
.tab-content {
  display: none;
  padding: 25px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 330px;
  overflow: auto;
}

.tab-content.tab-active {
  display: block;
}

/*-----Setting Boxes-----*/
#settings {
    margin: -4px !important;

}

#settings #settings-close {
    float: right;
}

#settings h1 {
  margin: 25px 15px;
}

/*-----Setting Tab Content-----*/
#settings .tab-content .setting-item {
  margin-bottom: 15px;
}

#settings .tab-content .setting-item:last-child {
  margin-bottom: 0;
}

#settings .tab-content label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  line-height: 15px;
}

#settings .tab-content input {
  padding: 0;
  margin:0;
  margin-right: 5px;
  vertical-align: bottom;
  overflow: hidden;
}


/*-----Status Transfer-----*/
#status {
  height: 100%;
}

#status .gr-icon {
  float: left;
  margin-top: 6px;
}

#status-transfer li {
  margin-bottom: 20px;
  border-bottom: solid 1px #EEE;
  padding-bottom: 10px;
}

#status-transfer .task-name {
  float: left;
  color: #999;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 60px);
  margin: -10px 0 0 10px;
}

#status-transfer .task-percent {
  float: right;
  display: none;
  width: auto;
  max-width: 60px;
  border: none;
  color: #999;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

#status-transfer .task-finish {
  clear: both;
  position: relative;
  margin: 30px 0 0 36px;
  width: calc(100% - 36px);
  height: 13px;
  border-radius: 4px;
  overflow: hidden;
  color: #666;
  font-weight: 300;
  font-size: 13px;
}

#status-transfer .task-progress {
  clear: both;
  position: relative;
  margin: 30px 0 0 36px;
  width: calc(100% - 36px);
  height: 6px;
  background-color: #f4f4f4;
  border-radius: 4px;
  overflow: hidden;
}

#status-transfer .task-progress-inner {
  height: 100%;
  width: 0;
  background-color: #39a5ff;
  border-radius: 4px;
}

#status-transfer .task-aborted .task-progress-inner {
  background-color: #f6b2b5;
}

 #status-transfer .task-error .task-progress-inner {
  background-color: #f6b2b5;
}

#status-transfer .task-finished .task-progress-inner {
  background-color: #5cd600;
}


/*-----Formular----*/

form {
    margin-top: 43px;
}

input,
select,
select > option,
.select-node div:first-child {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #CCC;
    height: 28px;
    border-radius: 0;
    appearance: none;
}

input[type="radio"], input[type="checkbox"] {
    height: inherit;
}

.select-node input {
    display: none;
    clear: both;
}

.select-node div {
    display: inline-block;
}

.select-node div:first-child {
    width: 250px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow-down {
    margin-bottom: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}
/*-----Footer-----*/

#footer {
    height: 80px;
    background-color: #F0F0F0;
    text-align: right;
    padding: 0 40px;
}
/*-----About-----*/
#about #startup-logo {
    background-image: url('../../img/teaser/teaser-image-red.svg');
    height: 200px;
}

#about-github span {
    color: #39A5FF;
}

#about p {
    text-align: center;
    font-size: 16px;
}

#about p:first-child {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 5px;
}

#about #content > div {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

#about-version-check, #about-version-install {
    text-decoration: underline;
    width: 100%;
    display: none;
    text-align: center;
    margin: 8px 0;
    color: #39A5FF;
}

#about-update-not-available {
    display: none;
    text-align: center;
    margin: 8px 0;
}

#about .loader, .view .loader {
   margin: auto;
}

/*-----Feeedback-----*/
#feedback {
    padding: 15px;
}

#feedback textarea {
    width: 100%;
    height: 200px;
    margin: 5px 0;
    border-color: #000;
}

#feedback button {
    float: right;
}

#feedback .loader {
    float: right;
    margin-top: 13px;
}

/*-----Tray----------*/
#item-installupdate {
    display: none;
}

/*-----Startup-------*/
#startup .view  {
    display: none;
    text-align: center;
}

#startup-auth-error {
    margin-top: 10px;
}

#startup-auth-oidc {
    margin-top: 10px;
}

#startup-auth-oidc > img {
    margin: 5px auto;
    display: block;
    max-width: 300px;
}

#startup-view-auth input {
    display: block;
    margin: 6px auto;
}

#startup-view-server input {
    height: 40px;
    width: 75%;
    padding-right: 45px;
}

#startup-view-server .view-content .loader {
    position: relative;
    top: -35px;
    right: -150px;
}

#startup-view-server .view-content > div {
    display: none;
}

.view-content {
    display: none;
}

#client-offline {
    margin: 0 30px;
    text-align: center;
}

#startup-savedir {
    margin-bottom: 30px;
    display: inline-block;
}

#startup-logo {
    background-image: url('../../img/teaser/teaser-image-purple.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 290px;
    margin: -30px 0 30px 0;
}

#startup-view-advanced {
    margin-top: 30px;
}

#startup-view-advanced .startup-open-folder {
    margin: 50px auto 0 auto;
    display: table-cell;
}

#startup p {
    padding-bottom: 5px;
}

#startup-view-server {
    display: block;
}

#startup-advanced {
    position: absolute;
    bottom: 10px;
}

#startup-advanced {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 13px;
    color: #999;
}

#selective-sync {
    margin: 10px;
}

.jstree-themeicon {
    background-position: 0 calc(162 * -24px) !important;
    width: 24px !important;
    height: 24px !important;
    background-image: url(../../../node_modules/@gyselroth/icon-collection/src/icons.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 24px !important;
    opacity: 0.72 !important;
    transform: scale(0.7);
}

.jstree-checkbox {
    width: 24px !important;
    height: 24px !important;
    transform: scale(0.6);
    opacity: 0.72 !important;
    border: solid 1px #000 !important;
    background-image: none !important;
}

.jstree-clicked > .jstree-checkbox {
    filter: invert(100%);
    background-position: 0 calc(8 * -24px) !important;
    mask-position: 0 calc(8 * -24px); !important;
    background-image: url(../../../node_modules/@gyselroth/icon-collection/src/icons.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 24px;
    background-color: #c65a00 !important;
    border: solid 1px #c65a00 !important;
}

.jstree-anchor {
    overflow: hidden;
}

.jstree-checkbox.balloon-has-ignored-children {
    background-image: none;
}

#selective-sync-choose div {
    height: 310px;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid #000 1px;
    padding: 5px;
}

#selective-sync-choose span {
    font-size: 14px;
}

#selective-sync-choose li a {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 24px);
    display: inline-block;
    overflow-x: hidden;
    font-size: 13px;
}

#selective-sync-choose button {
    float: right;
    margin-left: 3px;
}

.jstree-default .jstree-anchor>.balloon-has-ignored-children {
    background-position: -196px -4px !important;
}

/*-----Taskbar-----*/
html.win32,
.win32 #tray {
    height: 100%;
    overflow: hidden;
}

.win32 #tray {
    border: 1px solid rgba(0,0,0,0.3)
}

.task {
    padding: 2px 0;
    float: right;
}

.tray-action {
    float: right;
}

.task:hover {
    background-color: #EEE;
}

#tray #content {
    border: solid 8px #EEF3F6;
    height: 408px;
}

#tray-main {
    font-size: 15px;
}

#tray {
    overflow: hidden;
    font-size: 11px;
}

#tray-top {
    height: 40px;
    padding: 1px;
}

#tray-center {
    clear: both;
}

#header .task {
    padding: 9px 0;
    transition: background-color .3s ease-in-out;
}

.task.disabled {
    color: #EBEBEB !important;
    cursor: default !important;
}

.taskicon, .tasktxt {
    display: table-cell;
    vertical-align: middle;
}

.taskicon {
    width: 26px;
    text-align: center;
    padding-top: 2px;
}

.taskicon svg {
    width: 20px;
    height: 20px;
    margin: auto;
}

.tasktxt {
    width: 85%;
}

hr {
    margin: 0;
    color: #EBEBEB;
    background-color: #EBEBEB;
    height: 2px;
    border: none;
}

/*-----Buttons-----*/
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer;
    background: #0361ab;
    border-color: #0361ab;
}

button, input[type="button"], input[type="submit"] {
    background: #39A5FF;
    font-weight: bold;
    border: solid 2px #39A5FF;
    color: #FFF;
    margin-top: 15px;
    text-shadow: none;
    width: auto !important;
    padding: 7px 15px;
    min-width: 130px;
    font-size: 15px;
    -webkit-appearance: none !important;
    -webkit-border-radius: 4px;
}

button:last-child, input[type="button"]:last-child, input[type="submit"]:last-child {
  background-color: #FFF;
  border-color: #BBB;
  color: #BBB;
  margin-right: 10px;
}

button:last-child:hover, input[type="button"]:last-child:hover, input[type="submit"]:last-child:hover {
  border-color: #666;
  color: #666;
}


/*-----SVG Icons-----*/
.icon .cls-1 {
    fill: #fff;
}

.icon .cls-2 {
    fill: none;
    stroke: #333;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.edit .cls-1 {
    opacity: 0;
}

.edit .cls-2 {
    fill: #fff;
}

.edit .cls-3 {
    fill: none;
    stroke: #424242;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.help .cls-1 {
    opacity: 0;
}

.help .cls-2 {
    fill: #fff;
}

.help .cls-3 {
    fill: none;
    stroke: #424242;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.taskicon svg {
    width: 23px;
}

.taskicon .a {
    fill: #333;
}

.success-message {
  margin-top: 6px;
  display: none;
  color: #00cc00;
}

.error-message {
  margin-top: 6px;
  display: none;
  color: #ff0000;
}

button:disabled,
button[disabled] {
  color: #ccc;
  cursor: initial;
}

.hidden {
  display: none;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

/*-----Quota-----*/
#status-quota table {
    float: left;
    margin: 50px 0 0 10px;
}

#status-quota th::after {
  display: block;
  top: 12.5px;
  left: 0;
  content: "";
  width: 20px;
  height: 5px;
  border-radius: 4px;
}

#status-quota th {
  width: 130px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  color: #333;
  text-align: left;
  padding-bottom: 10px;
}

#status-quota td {
  width: 90px;
  text-align: right;
  font-weight: bold;
}

#status-quota-used th::after {
    background-color: #39a5ff;
}

#status-quota-left th::after {
    background-color: #DDD;
}

#quota-circle {
  width: 200px;
  height: 200px;
  margin: 30px 0 0 10px;
  position: relative;
  float: left;
}
#quota-circle.animate svg .circle-foreground {
  -webkit-animation: offset 3s ease-in-out forwards;
          animation: offset 3s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#quota-circle.animate figcaption:after {
  -webkit-animation:#quota-circle-label 3s steps(32) forwards;
          animation:#quota-circle-label 3s steps(32) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#quota-circle svg {
  width: 100%;
  height: 100%;
}
#quota-circle svg .circle-background, #quota-circle svg .circle-foreground {
  r: 99.5px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #305556;
  stroke-width: 1px;
}
#quota-circle svg .circle-foreground {
  stroke: #79be9b;
  stroke-dasharray: 199.9552px 624.86px;
  stroke-dashoffset: 199.9552px;
  stroke-linecap: round;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
#quota-circle figcaption {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  text-align: center;
  color: #39a5ff;
  position: absolute;
  top: calc(50% - 1.25rem);
  left: 0;
  font-size: 0;
}
#quota-circle figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

@-webkit-keyframes#quota-circle-label {
  100% {
    -webkit-transform: translateY(-80rem);
            transform: translateY(-80rem);
  }
}

@keyframes#quota-circle-label {
  100% {
    -webkit-transform: translateY(-80rem);
            transform: translateY(-80rem);
  }
}
